<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>final_proj</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
    <welcome-file>index.htm</welcome-file>
    <welcome-file>index.jsp</welcome-file>
    <welcome-file>default.html</welcome-file>
    <welcome-file>default.htm</welcome-file>
    <welcome-file>default.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description></description>
    <display-name>ConnectionPool</display-name>
    <servlet-name>ConnectionPool</servlet-name>
    <servlet-class>Tourpak.ConnectionPool</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>ConnectionPool</servlet-name>
    <url-pattern>/ConnectionPool</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>MyFunction</display-name>
    <servlet-name>MyFunction</servlet-name>
    <servlet-class>Tourpak.MyFunction</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>MyFunction</servlet-name>
    <url-pattern>/MyFunction</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>SessionCounter</display-name>
    <servlet-name>SessionCounter</servlet-name>
    <servlet-class>Tourpak.SessionCounter</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>SessionCounter</servlet-name>
    <url-pattern>/SessionCounter</url-pattern>
  </servlet-mapping>
</web-app>